@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Work Sans';
}

nav {
  background-image: linear-gradient(to right, #7209b7, #b5179e);
  color: white;
  padding: 30px;
  text-align: center;
}

#topnav a {
  color: white;
  margin: 0 20px;
}

section {
  width: 40vw;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
}

section img {
  border-radius: 6px;
  width: 100%;
}

body {
  background-color: rgb(230, 230, 230);
}